<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        v-show:{{ web.show }}
        <hr>
        <p v-show="web.show">你看见我啦</p>
        <p v-if="web.show">你又看见我啦</p>

        <button @click="toggle">切换显示状态</button>
        <hr>

        user:{{ web.user }}
        <p v-if="web.user < 1000">新网站</p>
        <p v-else-if="web.user >= 1000 & web.user < 10000">优秀网站</p>
        <p v-else>资深网站</p>
    </div>

    <script type="module">
        import {createApp,reactive} from './vue.esm-browser.js'

        createApp({
            setup() {
                const web = reactive({
                    show:true,
                    user:500
                })

                const toggle = () => {
                    web.show = !web.show
                }

                return {
                    web,
                    toggle
                }
            }
        }).mount("#app")
    </script>
</body>
</html>